.container {
  padding-top: 40px;
}

.gameArea {
  flex-grow: 1;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 68px);
  box-sizing: border-box;
  padding: 40px;
  background-color: #1a1a1a;
  color: #fff;
}