@use '../../../styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 40px;
  background-color: $bg-page;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid $border-color; // Цвет "трека" спиннера
  border-top-color: $color-primary; // Акцентный цвет вашего сайта
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  margin-top: 24px;
  font-size: 18px;
  color: $text-secondary;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
