@use '../../../../styles/colors' as *;

.playersContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.statusMessage {
  background-color: $primary-glow-light;
  color: $color-primary-lightest;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.scoringPhase {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  margin-top: -12px;
  border-top: 1px solid $border-color;
}

.scoringDescription {
  font-size: 14px;
  color: $text-secondary;
  line-height: 1.6;
  text-align: center;
  margin: 0 0 8px 0;
}

.agreementStatus {
  background-color: $bg-container;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.agreementItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}

.iconCheck, .iconCross {
  width: 24px;
  height: 24px;
}
.iconCheck {
  color: $color-success;
}
.iconCross {
  color: $color-danger;
}

.resumeButtonContainer {
  margin-top: 8px;
  button {
    width: 100%;
  }
}
