.gameOverPanel {
  background-color: #242424;
  padding: 30px 24px 24px;
  border-radius: 12px;
  border: 1px solid #444;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fff;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.trophyIcon {
  width: 48px;
  height: 48px;
  fill: #ffc107;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;

  strong {
    color: #8a90ff;
  }
}

.description {
  font-size: 16px;
  color: #c0c0c0;
  margin: 0;
}

.scoreDetails {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.playerScore {
  text-align: left;
}

.playerName {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #444;
}

.totalScore {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 12px;
  color: #8a90ff;
}

.breakdown {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #a0a0a0;
  //color: white;

  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
}

.finalMargin {
  font-size: 16px;
  font-weight: bold;
  color: #8a90ff;
  font-style: italic;
  margin-top: 8px;
  padding-top: 16px;
  border-top: 1px solid #444;
  text-align: center;

  span {
    color: #ffc107;
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}